$bakgrunnslitur: #333333;
$fontlitur: #333333;
body{
    color: $fontlitur;
    background-color: #FFFFFF;
    margin: 0 auto;
    header, footer{
        background-color: $bakgrunnslitur;
    }
    main{
        min-height: 82vh;
        max-width: 960px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;  
    }
}

h1{
    text-align: center;
}

p{
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: #ED2046;
}
a:hover{
    text-decoration: underline;
}

.tviskipt{
    display: grid;
    grid-template-columns: 40% 60%;
    div:first-child{
        padding-right: 20px;
    }
    @media screen and (max-width: 950px){
        display: block;
    }
}