$bakgrunnslitur: #29648A;
$fontlitur: #AAABB8;
body{
    color: $fontlitur;
    background-color: darken($bakgrunnslitur, 10);
    margin: 0 auto;
    header, footer{
        background-color: $bakgrunnslitur;
    }
    main{
        max-width: 960px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;  
    }
}

h1{
    text-align: center;
}

p{
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: lighten($color: $bakgrunnslitur, $amount: 10);
}
a:hover{
    text-decoration: underline;
}

.tviskipt{
    display: grid;
    grid-template-columns: 40% 60%;
    div:first-child{
        padding-right: 20px;
    }
}