.form{
    font-family: 'Lato',Arial,tahoma,sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
    "i3 i4"
    "i5 i6"
    "i7 i7";
    label{
        input{
            width: 90%;
        }
        padding-bottom: 10px;
    }
    @media screen and (max-width: 600px){
        display: block;
        label{
            input{
                width: 95%;
            }
        }
    }
}

#Nafn{grid-area: i4;}
#Simanumer{grid-area: i2;}
#Email{grid-area: i3;}
#Kennitala{grid-area: i1;}
#Dagsetning{grid-area: i5;}
#Heimilisfang{grid-area: i6;}
#Takki{grid-area: i7;}
