$staerd: 90px;
.fotur{
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr $staerd+20;
    div{
        p{
            font-size: 1em;
        }
    }
    img{
        padding-left: 30px;
        height: $staerd;
        width: $staerd;
    }
    @media screen and (max-width: 550px){
        grid-template-columns: 1fr 1fr;
        img{display: none;}
    }
    @media screen and (max-width: 440px){
        text-align: center;
        display: block;
    }
    @media screen and (min-width: 440px){
        div:first-child{
            text-align: left;
        }
        div:nth-child(2){
            text-align: right;
        }
    }
}